extends layout

block content
    link(href='/stylesheets/signin.css', rel='stylesheet')
    form.form-signin(action='/login', method = 'post')
        h2.form-signin-heading Please sign in
        label.sr-only(for='inputUsername') Username
        input#username.form-control(type='username', placeholder='Username', required='', autofocus='', name='username')
        label.sr-only(for='inputPassword') Password
        input#password.form-control(type='password', placeholder='Password', required='', name='password')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

                              