extends layout

block content
    link(href='/stylesheets/mymn.css', rel='stylesheet')
    link(href='/stylesheets/vis.min.css', rel='stylesheet')

    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/term.js')
    script(src='/javascripts/FileSaver.min.js')
    script(src='/javascripts/vis.min.js')
    script(src='/javascripts/mnweb.js')

    #container
        #header
            button#import.btn.btn-lg.btn-primary(type='button', data-toggle='modal', data-target='#importModal') Import

            button#export.btn.btn-lg.btn-primary(onclick = 'mnweb.getNetworkFor(\'export\')') Export
            button#cheatsheet.btn.btn-lg.btn-primary(type='button', data-toggle='modal', data-target='#cheatsheetModal') Cheatsheet
            button#topo.btn.btn-lg.btn-primary(onclick = 'mnweb.getNetworkFor(\'topo\')') Topology
            form(action='/logout', method = 'post')
                button#logout.btn.btn-lg.btn-primary Logout

        #content
            #terminal.terminal
            #mynetwork.mynetwork

        #footer
            ul#history.history
                -for(var lines in cmdHistory)
                    li #{cmdHistory[lines].command}



    #cheatsheetModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Mininet CLI Cheatsheet
                .modal-body
                    p add host h3 to the network => py net.addHost('h3')
                    p add switch s2 to the network => py net.addSwitch('s2')
                    p start switch s2 using c0 as controller => py s2.start([c0])
                    p add link betweewn h3 host and s2 switch => py net.addLink('h3','s2')
                    p add IP to the h3 host's default interface => py h3.setIP('10.0.0.3')
                    p attach s2-eth1 interface on switch s2 => py s2.attach('s2-eth1')
                    p detach s2-eth1 interface from switch s2 => py s2.detach('s2-eth1')
                    p query status of switches => dpctl show
                    p ping all hosts from all hosts => pingall
                    p ping host h2 from host h1 => h1 ping h2
                    p ###########################################
                    p Please use the following naming convention:
                    p host names: h1 - h99
                    p switch names: s1 - s99
                    p controller names: c1 - c99
                    p interface names: object-eth0 - object-eth99 where object is a valid host or switch name
                    p ###########################################
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close

    #importModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='importModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#importModalLabel.modal-title Mininet Topology Import
                .modal-body
                    p Please choose *.mn file to import:
                    p ( Only mn files with simple mininet commands will work )
                    input#inputFile(type='file', accept='.mn')
                .modal-footer

                    button.btn.btn-default(type='button', data-dismiss='modal') Close


    script.
        var user = '#{user}';
        var dockerInstance = '#{dockerInstance}';
        var parent = document.getElementById('terminal');
        var myNetwork = document.getElementById('mynetwork');

        window.onload = function(){
            mnweb.run({
                user: user,
                dockerInstance: dockerInstance,
                terminalDiv: parent,
                myNetwork: myNetwork
            });
        }

