body {
    padding: 10px;
    background-color: white;
}

#container{
    width : 1300px;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
}


#header{
    width: 1300px;
    display: table-cell;
}

.btn.btn-lg.btn-primary{
    margin: 10px
}

#logout, #import, #export {
    width: 150px;
    float: left;
}

#topo, #cheatsheet{
    width: 150px;
    float: right;
}


#content{
    padding: 10px;
}

#footer{
    padding: 10px;
}

#history{
    background-color: grey;
    float: left;
    width: 560px;
    height: 150px;
    overflow: auto;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 10px;
    color: white;
    border : #0b97c4 solid 10px;
    list-style-type: none;
}

#terminal {
    float: left;
    border : #0b97c4 solid 10px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 11px;
    color: #f0f0f0;
    background: #000;
}
#terminal-cursor {
    color: #000;
    background: #f0f0f0;
}

#mynetwork {
    width: 650px;
    height: 540px;
    border : #0b97c4 solid 10px;
    float: right;
    padding: 30px;
}
